/Secrets.java
/Secrets.class

/CustomHeader.class
/DSUtils.class
/Email.class
/Haversine.class
/JWTUtils.class
/MapsUtils.class
/Message.class
/ParamName.class
/PropertyValue.class
/Storage.class
/UserLevel.class

/credentials.json
