<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>jerseyServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.wokesolutions.ignes.filters;com.wokesolutions.ignes.api</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.contextPath</param-name>
			<param-value>/api/*</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.scanning.recursive</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.tracing.type</param-name>
			<param-value>ALL</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jerseyServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

<!--	<resource-files>
		<include path="/**.json"/>
	</resource-files>-->

	 <!--Filters -->

	<filter>
		<filter-name>DeviceControlFilter</filter-name>
		<filter-class>com.wokesolutions.ignes.filters.DeviceControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>RequestControlFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>RequestControlFilter</filter-name>
		<filter-class>com.wokesolutions.ignes.filters.RequestControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>RequestControlFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AdditionalResponseHeadersFilter</filter-name>
		<filter-class>com.wokesolutions.ignes.filters.AdditionalResponseHeadersFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AdditionalResponseHeadersFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>PermissionControlFilter</filter-name>
		<filter-class>com.wokesolutions.ignes.filters.PermissionControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PermissionControlFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
</web-app>